@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './globals.css';

#__next,
body {
  overflow-x: hidden;
}

.office-img {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(3px) grayscale(1);
  opacity: 0.8;
  transition: all 600ms ease-in-out;
}

.office-img-left {
  transform: perspective(800px) rotateY(-25deg) scale(0.9) rotateX(10deg);
  filter: blur(3px) grayscale(1);
  opacity: 0.8;
  transition: all 600ms ease-in-out;
}

.office-img-active {
  transform: perspective(900px) rotateY(-17deg) translateY(-50px) rotateX(10deg)
    scale(1);
  filter: blur(0) grayscale(0.5) contrast(1.2);
  opacity: 1;
}

.office-img-left-active {
  transform: perspective(900px) rotateY(17deg) translateY(-50px) rotateX(10deg)
    scale(1);
  filter: blur(0) grayscale(0.5) contrast(1.2);
  opacity: 1;
}
